.artist {
  margin: 3px 3px 3px 0px;
  background: aliceblue;
  -webkit-column-break-inside: avoid;
}

.artist__image {
  padding: 3px;
}

.artist__footer {
  margin: auto 5px 10px 5px;
  display: flex;
  justify-content: space-around;
}

.artist__info {
  margin: 5px;
}
