.artist {
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  background: aliceblue;
}

.artist__image {
  padding: 3px;
}

.artist__footer {
  margin: 5px;
  display: flex;
  justify-content: space-around;
}
