.artist-list {
  margin: 0 auto;
  columns: 1;
  width: 100%;
  transition: all 0.9s ease;

  @media (min-width: 580px) {
    columns: 2;
  }

  @media (min-width: 950px) {
    width: 80%;
  }

  @media (min-width: 1200px) {
    width: 55%;
  }
}
