.artist {
  margin: 3px 3px 5px 3px;
  background: rgb(249, 237, 194);
  -webkit-column-break-inside: avoid;
}

.artist__image {
  padding: 3px;
}

.artist__footer {
  margin: auto 5px 10px 5px;
  display: flex;
  justify-content: space-around;
}

.artist__info {
  color: rgb(38, 31, 6);
  margin: 5px;
}
