nav {
  display: flex;
  justify-content: space-around;
}
button {
  margin: 25px auto 25px auto;
  color: #311c03;
  border-radius: 20px;
  height: 38px;
  width: 76px;
  border: solid #d8b741 2px;
  font-size: 1, 5em;
  text-shadow: 0 1px 0 #f3d10d;
  background: linear-gradient(#fff1bc, #fcd877);
  box-shadow: inset 0 5px 10px 0 #ffffff;
  text-decoration: none;
}
