h4 {
  display: flex;
  justify-content: center;
  margin: 10px 10px 10px 10px;
  color: #d8b741;
  margin: 30px 30px 30px 30px;
}
.footer__link {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  margin: 30px 30px 30px 30px;
}
