/* Advanced Checkbox Hack */
body {
  display: hidden;
  animation: bugfix infinite 1s;
}
@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

input[type='checkbox'] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  display: none;
  cursor: pointer;
  //user-select: none;
}
/* custom-dropdown */
nav[role='custom-dropdown'] {
  //position: relative;
  width: 100%;
}
.navburger_class {
  display: flex;
  justify-content: space-between;
  //flex-direction: column;
}
ul {
  //padding: 0;
  //margin: 0 auto;
  width: 100%;
  list-style: none;
  margin: 10px;

  > li {
    //background: #fff1bc;
    //color: #ffffff;
    //margin: 10px 10px 0px 10px;
    //float: right;
    // padding: 0.55em 0.55em;
    width: 19%;
    //background-image: $img_bg;
    text-align: center;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    //transition-property: box-shadow, color;
    //box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.85);
      color: #fff;
      box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35),
        inset 0 0 0 2em rgba(0, 0, 0, 0.3);
      text-decoration: none;

      > a {
        color: #fff;
      }
    }
  }
}

/* small screens */
@media screen and (max-width: 44em) {
  html,
  body {
    margin: 0;
  }

  nav[role='custom-dropdown'] {
    ul {
      display: none;
      height: 100%;
    }

    label {
      // position: relative;
      display: block;
      //width: 100%;
      //min-height: 2.25em;
      //padding: 0.45em;
      font-size: 2em;
      margin: 0;
      border: 0.15em solid rgba(60, 60, 60, 0.2);
    }

    label:after {
      //position: absolute;
      right: 2em;
      top: 0;
      content: '\2261';
      font-size: 2em;
    }

    input[type='checkbox']:checked ~ label:after {
      color: #222;
    }

    input[type='checkbox']:checked ~ ul {
      display: block;

      > li {
        width: 100%;
        opacity: 0.8;
        text-align: left;

        //&:after {
        //position: absolute;
        //right: 0.25em;
      }
    }
  }
}
//}
