<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="images/shelf.png" type="image/png">
  <title>artist-shelf</title>
  <link rel="stylesheet" href="">
  <link rel='stylesheet' href='css/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<body>
  {{{body}}}
  <script src="js/main.js"></script>
</body>

</html>