<section>
  {{> header }} {{> buttons }} {{> headlines }}
  <main>
    {{> artist-list }}
  </main>
  {{> footerline }}
</section>
<div class="banner">
  <div class="img-container">
    <img src="/images/needbr.jpg" alt="">
  </div>
</div>