<nav data-filter-buttons>
  <button id="dj">djs</button>
  <button id="band">bands</button>
<<<<<<< HEAD
  <button id="art">art</button>
=======
>>>>>>> 2688f9c3af70067280a102b8941eb02f49cab0de
  <button id="all">all</button>
</nav>