<div class="filter-footerline" data-filter-button>
  {{#each footerline}}
  <h4 class="{{key}}">{{string}}</h4>{{/each}}</div>
<section class="footer__link">
  <a href="/impressum">impressum</a>
  <a href="/newsletter">newsletter</a>
</section>