<!-- <nav class="container navburger_class" role="custom-dropdown">
  <input type="checkbox" id="button">
  <label for="button" onclick></label>

  <ul>
    <li>
      <a id="dj" href="">djs</a>
    </li>
    <li>
      <a id="bands" href="">bands</a>
    </li>
    <li>
      <a id="art" href="">art</a>
    </li>
    <li>
      <a id="all" href="">all</a>
    </li>
  </ul>
</> -->