// add geheral styles for elements like body, h1-h6, p, a ... here
body {
  font-family: 'Song Myung', serif;

  background-color: #143a52;
  color: #4b533b;
}
h4 {
  display: flex;
  justify-content: center;
}
.imprint__p {
  margin-top: 5%;
}
